@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background: #09090B;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 130px;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    border: 1px solid #3F3F46;
    text-align: center;
}

.titulo img {
    max-width: 300px;
    margin-bottom: 20px;
}

.fields {
    display: grid;
    gap: 8px;
    width: 80%;
}

.field-wrapper {
    padding: 5px;
    background-color: #09090B;
    border: 1px solid #3F3F46;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.field-wrapper img {
    max-width: 30px;
    margin: 8px;
    margin-left: 15px
}

.field-wrapper span {
    color: #ccc;
    /* text-align: left; */
    flex: 1;
}

button{
    font-family: 'Inter', sans-serif;
    margin-top: 15px;
    width: 25%;
    text-align: center;
    border: none;
    padding: 10px 5px;
    background-color: #abe34a;
    font-weight: 600;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: -0.02em;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: #1A2E05;
}

button:hover {
    background-color: yellowgreen;
}
.descricao{
    font-weight: 300;
    font-size: 14px;
}
.descricao a{
    color: #d6e4c2;
}
.descricao a:hover{
    color: yellowgreen;
    
}



@media (max-width: 600px) {
    .container {
        padding: 40px 10px;
    }


    button {
       
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    button {
        width: 80%;
        font-size: 12px;
    }
}
